<table>
    <thead>
        <tr>
            <th>
                Section
            </th>
            <th>
                <label>
                    <input type="checkbox" ng-model="$ctrl.headPermission.permission.view"
                        ng-click="$ctrl.headCheckboxHandler($ctrl.headPermission, $ctrl.PermissionRule.view)">
                    Check all
                </label>
            </th>
            <th>
                <label>
                    <input type="checkbox" ng-model="$ctrl.headPermission.permission.edit"
                        ng-click="$ctrl.headCheckboxHandler($ctrl.headPermission, $ctrl.PermissionRule.edit)"
                        ng-disabled="!$ctrl.headPermission.permission.view">
                    Check all
                </label>
            </th>
            <th>
                <label>
                    <input type="checkbox" ng-model="$ctrl.headPermission.permission.remove"
                        ng-click="$ctrl.headCheckboxHandler($ctrl.headPermission, $ctrl.PermissionRule.remove)"
                        ng-disabled="!$ctrl.headPermission.permission.edit">
                    Check all
                </label>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in $ctrl.permissionList">
            <td>{{item.section}}</td>
            <td><label><input type="checkbox" ng-model="item.permission.view"
                        ng-click="$ctrl.handlerChange(item, 'view')" >
                    View</label></td>
            <td><label><input type="checkbox" ng-model="item.permission.edit" ng-disabled="!item.permission.view"
                        ng-click="$ctrl.handlerChange(item, 'edit')"> 
                    View</label></td>
            <td><label><input type="checkbox" ng-model="item.permission.remove" ng-disabled="!item.permission.edit"
                        ng-click="$ctrl.handlerChange(item, 'remove')">
                    View</label></td>
        </tr>
    </tbody>
</table>

<button class="btn" ng-click="$ctrl.saveDate()">Save</button>