<div class="section-permission">
<table>
    <thead>
        <tr>
            <th>
                Section
            </th>
            <th>
                <label class="container">
                    <input type="checkbox" ng-model="$ctrl.headPermission.permission.view"
                        ng-click="$ctrl.headCheckboxHandler($ctrl.PermissionRule.view)">
                    <span class="checkmark"></span>
                    <span class="hide-on-mob">Check all</span> 
                    <span class="hide-on-pc">All</span>
                </label>
            </th>
            <th>
                <label class="container">
                    <input type="checkbox" ng-model="$ctrl.headPermission.permission.edit"
                        ng-click="$ctrl.headCheckboxHandler($ctrl.PermissionRule.edit)"
                        ng-disabled="!$ctrl.headPermission.permission.view">
                        <span class="checkmark"></span>
                        <span class="hide-on-mob">Check all</span> 
                        <span class="hide-on-pc">All</span>
                </label>
            </th>
            <th>
                <label class="container">
                    <input type="checkbox" ng-model="$ctrl.headPermission.permission.remove"
                        ng-click="$ctrl.headCheckboxHandler($ctrl.PermissionRule.remove)"
                        ng-disabled="!$ctrl.headPermission.permission.edit">
                        <span class="checkmark"></span>
                        <span class="hide-on-mob">Check all</span> 
                        <span class="hide-on-pc">All</span>
                </label>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in $ctrl.permissionList">
            <td>{{item.section}}</td>
            <td><label class="container"><input type="checkbox" ng-model="item.permission.view"
                        ng-click="$ctrl.handlerChange(item, $ctrl.PermissionRule.view)" >
                        <span class="checkmark"></span>
                        <span class="hide-on-mob">  View</span>
                         <img class="icon hide-on-pc" src="../assets/eye.svg" alt="">
                  </label></td>
            <td><label  class="container"><input type="checkbox" ng-model="item.permission.edit" ng-disabled="!item.permission.view"
                        ng-click="$ctrl.handlerChange(item, $ctrl.PermissionRule.edit)"> 
                        <span class="checkmark"></span>
                        <span class="hide-on-mob"> Edit</span>
                        <img class="icon hide-on-pc" src="../assets/edit.svg" alt="">
                  </label></td>
            <td><label  class="container"><input type="checkbox" ng-model="item.permission.remove" ng-disabled="!item.permission.edit"
                        ng-click="$ctrl.handlerChange(item, $ctrl.PermissionRule.remove)">
                        <span class="checkmark"></span>
                        <span class="hide-on-mob">Remove</span>
                        <img class="icon hide-on-pc" src="../assets/delete.svg" alt="">
                  </label></td>
        </tr>
    </tbody>
</table>

<button class="btn" ng-click="$ctrl.saveDate()">Save</button>
</div>
